{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block base_content %}
<div class="large-4 large-offset-4 small-12 columns login form">

{#<h3>Sign out</h3>#}
{##}
{#<p>Are you sure you want to sign out?</p>#}

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <h3>Are you sure?</h3>
{#        <legend>#}
{#            Are you sure?#}
{#        </legend>#}
        {% if redirect_field_value %}
        <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button type="submit">Sign Out</button>
</form>


{% endblock %}
