/*

Holo Theme

 51, 181, 229 blue 33B5E5
170, 102, 204 purple AA66CC
153, 204,   0 green 99CC00
255, 187,  51 orange #FFBB33
255,  68,  68 red #FF4444
  0, 153, 204 dark blue #0099CC
153,  51, 204 dark purple #9933CC
102, 153,   0 dark green #669900
255, 136,   0 dark orange #FF8800
204,   0,   0 dark red #CC0000


*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

@font-face {
    font-family: 'Baumans';
    src: url('../fonts/Baumans-Regular.ttf');
}
@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.ttf');
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf');
}

.content {
    margin-top: 20px;
}

.post {
    font-family: 'Droid Sans', sans-serif;
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.category_label .blue a {
    color: rgb(51, 181, 229);
}

.category_label .purple a {
    color: rgb(170, 102, 204);
}

.category_label .green a {
    color: rgb(153, 204, 0);
}

.category_label .orange a {
    color: rgb(255, 187, 51);
}

.category_label .red a {
    color: rgb(255, 68, 68);
}

.post_submitted {
    text-align: right;
}

.post_comments {
    font-size: 100%;
}

.metadata,
.metadata a {
    color: #111;
    font-family: 'Play', sans-serif;
    margin-top: 15px;
}

.metadata p {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 80%;
}

.comment .metadata {
    color: #FF8800;
}

.post p {
    margin-bottom: 0;
}

.title {
    text-align: center;
    font-size: 160%;
    font-family: 'Droid Sans', sans-serif;
    line-height: 26px;
    margin-bottom: 15px;
}

.label .round .category {
    float: none;
    margin-bottom: 0;
}

.post_list .post img {
    max-height: 400px;
}

.post img {
    max-height: 600px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.youtube,
.videos {
    padding-bottom: 20px;
}

/*.image {*/
/*padding-bottom: 5px;*/
/*display: block;*/
/*}*/

.top-bar {
    margin-bottom: 20px;
    border-bottom: 3px solid #FF8800;
}

.title_link {
    color: white;
    font-family: 'Baumans', cursive;
    font-weight: bold;
}

.post_list a {
    vertical-align: bottom;
}

.category {
    float: left;
    font-size: 8px;
}

.category a,
.category a:visited,
.category a:hover,
.category a:active {
    color: white;
    font-size: 120%;
}

.tab-bar {
    margin-bottom: 20px;
    background-color: #222;
}

.post_list .submit_info {
    list-style-type: none;
    margin-left: -10px;
}

.post_list .feed_entry {
    background-color: #333;
}

.post_list {
    padding-left: 0;
    padding-right: 0;
}

.error {
    color: red;
    font-weight: bold;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #333;
    font-family: 'Droid Sans', sans-serif;
}

.text_field {
    padding-left: 0;
    padding-right: 0;
}

.text_label {
    padding-left: 0;
    padding-right: 0;
}

.text_label label {
    vertical-align: middle;
    line-height: 100%;
}

.post_metadata {
    margin-top: 10px;
}

.post_metadata {
    font-size: 80%;
}

.comment {
    text-overflow: ellipsis;
}

.comment .metadata {
    margin-top: 10px;
    /*margin-left: 20px;*/
    font-size: 80%;
}

.chat_server {
    position: relative;
}

.chat_box {
    /*max-height:90%;*/
    width: 100%;
    overflow-x: hidden;
}

.chat_messages {
    background-color: #eee;
    height: 65vh;
    /*border: 1px solid grey;*/
    overflow-y: scroll;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.chat_send {
    background: #FF8800;
}

.message {
    /*margin-bottom: 5px;*/
    line-height: 18px;
    margin: 0 5px;
}

.message .username {
    color: #FF8800;
}

.main-section {
    margin-top: 45px;
}

.chat_form {
    margin-bottom: 0;
    padding-bottom: 0;
}

.chat_messages p {
    margin-bottom: 0;
}

.chat_messages hr {
    margin: 0;
    line-height: 1;
}

.submission_entry {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submission_title {
    margin-bottom: 10px;
    text-align: center;
}

.submission_entry .image {
    display: block;
    margin: auto;
    max-height: 400px;
    max-width: 100%;
}

.submission_vote_button {
    margin-top: 10px;
    display: block;
    /*margin:auto;*/
}

.connected_users {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #eee;
}

.connect_users_title {
    color: #eee;
    border-bottom: 1px solid #eee;
}

.pagination {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.label .votes {
    line-height: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    border-radius: 5px;
    background-color: #5da423;
}

.top-bar-section .inactive:not(.has-form) a:not(.button) {
    background: #333333;
    padding: 0 15px;
    line-height: 45px;
    color: white;
    padding-right: 10px;
}

.top-bar-section ul li.active > a {
    padding-right: 10px;
}

.notifications_button {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.notification_wrapper {
    line-height: 1;
}

.notification p {
    color: #111;
    margin-bottom: 0;
    z-index: 1;
}

.notifications .remove_all {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image_container {
    max-width: 90%;
}

/*Icomoon*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3m559g');
    src: url('../fonts/icomoon.eot?#iefix3m559g') format('embedded-opentype'),
    url('../fonts/icomoon.woff?3m559g') format('woff'),
    url('../fonts/icomoon.ttf?3m559g') format('truetype'),
    url('../fonts/icomoon.svg?3m559g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
    content: "\e601";
}

.icon-user:before {
    content: "\e602";
}

.icon-users:before {
    content: "\e603";
}

.icon-user-add:before {
    content: "\e604";
}

.icon-chat:before {
    content: "\e600";
}

.icon-comment:before {
    content: "\e605";
}

.icon-bell:before {
    content: "\e606";
}

.icon-link:before {
    content: "\e607";
}

.icon-flag:before {
    content: "\e608";
}

.icon-cog:before {
    content: "\e609";
}

.icon-tools:before {
    content: "\e60a";
}

.icon-plus:before {
    content: "\e60b";
}

.icon-cross:before {
    content: "\e60c";
}

.icon-plus2:before {
    content: "\e60d";
}

.icon-cross2:before {
    content: "\e60e";
}

.icon-info:before {
    content: "\e60f";
}

.icon-layout:before {
    content: "\e610";
}

.icon-list:before {
    content: "\e611";
}

.icon-pictures:before {
    content: "\e612";
}

.icon-video:before {
    content: "\e613";
}

.icon-chat {
    margin-left: 5px;
}

/*End IcoMoon*/

.outer {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.inner {
    display: block;
    position: absolute;
    top: -50%;
}

.outer img {
    position: relative;
    width: 100%;
}

.main-section .tabs {
    width: 100%;
}

.tabs dd, .tabs .tab-title {
    width: 20%;
    padding: 0;
}

.tabs .tab-title .active a {
    background-color: #FF8800;
    color: #eee;
}

.tabs .tab-title a {
    background-color: #333;
    color: #eee;
}

.tabs .tab-title a:hover {
    background-color: #FFBB33;
}

.tabs dd, .tabs .tab-title > a {
    text-align: center;
    border-left: 1px solid black;
    padding: .5rem .25rem;

}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button) {
    height: 42px;
    background-color: #222;
}

.post_detail {
    padding: 10px;
    background-color: #eee;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
}

.comments {
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.comments p {
    margin-bottom: 0;
}

.comment {
    padding: 10px;
}

.comment_form {
    padding-left: 15px;
    padding-right: 15px;
}

textarea,
textarea:hover,
textarea:focus,
textarea:active {
    border: 0;
    outline: none;
    outline-offset: 0;
}

.textbox {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 40px;
}

.submission_entry {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 3px;
}

.card {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
}

.card .close {
    float: right;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #f08a24;
    border-color: #de770f;

}

.icon-chat {
    text-align: right;
}

.right p,
.right a {
    text-align: right;
}

fieldset legend {
    background: none;
}