<div class="large-6 large-offset-3 small-12 columns login form">
    <p>SlasherTraxx is an invite-only site. You must be invited by a current member to join.</p>

    <form ng-submit="login(credentials)" ng-controller="AuthCtrl" novalidate>
        <fieldset>
            <!--<p class="error">Your username and password didn't match. Please try again.</p>-->
            <legend>Login</legend>

            <label>Username</label>
            <input type="text" name="username" ng-model="credentials.username"/>

            <label>Password</label>
            <input type="password" name="password" ng-model="credentials.password"/>
            <input type="submit" value="login" class="button large-12 small-12" />

        </fieldset>
        <p><a href="/accounts/password/reset/">Forgot your password?</a></p>


    </form>
</div>