<form ng-submit="new_post_submit()">
  <div class="small-3 large-2 columns text_label">
    <span class="prefix">Title(*)</span>
  </div>
  <div class="small-9 large-10 columns text_field">
    <input type="text" name="title" ng-model="formData.title">
  </div>

  <div class="small-3 large-2 columns text_label">
    <span class="prefix">URL</span>
  </div>
  <div class="small-9 large-10 columns text_field">
    <input type="text" name="url" ng-model="formData.url">
  </div>

  <div class="small-3 large-2 columns text_label">
    <span class="prefix">Category</span>
  </div>
  <div class="small-9 large-10 columns text_field">
    <select ng-model="formData.category" name="category" required="true"
            ng-options="category.id as category.name for category in cats"></select><br>
  </div>

  <button type="submit" class="button tiny">Submit</button>
</form>