<div ng-controller="NotificationCtrl"
     class="large-offset-2 large-6 small-12 columns notifications">
  <div ng-repeat="notification in notifications">
    <div class="card">
      <a class="close" ng-click="remove_notification(notification)">&times;</a>
      <a href="{{ notification.link }}">
      <span class="notification">
        <p>{{ notification.text }}</p>
      </span>
      </a>
    </div>
  </div>

  <button ng-click="remove_all()" ng-if="notifications.length > 0"
          class="button alert  radius remove_all">Clear
  </button>
  <div ng-if="notifications.length == 0" class="card">
    <h3 >No notifications!</h3>
  </div>
</div>

<div class="large-4 hide-for-small-down columns">
  <chat></chat>
</div>