<div class="submission_entry">
  <form ng-submit="new_submission_submit()">
    <div class="small-3 large-2 columns text_label">
      <span class="prefix">Title(*)</span>
    </div>
    <div class="small-9 large-10 columns text_field">
      <input type="text" name="title" ng-model="formData.title">
    </div>

    <div class="small-3 large-2 columns text_label">
      <span class="prefix">URL</span>
    </div>
    <div class="small-9 large-10 columns text_field">
      <input type="text" name="url" ng-model="formData.url">
    </div>
    <button type="submit" class="button tiny">Submit</button>
  </form>
</div>
<div class="large-12 small-12 columns submission_entry"
     ng-repeat="submission in poll.poll_submissions">
  <div class="large-8 large-offset-2 columns submission_title">
    <h4>{{ submission.title }}</h4>
  </div>
  <div class="large-12 columns submission_image">
    <img class="post_list image" src="{{ submission.url }}">
  </div>
  <div class="row">
    <div
        class="large-4 large-offset-4 small-8 small-offset-2 columns submission_vote">
      <div class="vote_button" ng-if="user.user_votes[0] == submission.id">
        <a class="button tiny alert submission_vote_button"
           ng-click="removeVote(submission.id)">Remove</a>
      </div>
      <div class="vote_button" ng-if="user.user_votes[0] != submission.id">
        <a class="button tiny submission_vote_button"
           ng-click="addVote(submission.id)">Vote</a>
      </div>
    </div>
    <div class="large-4 small-2 columns"></div>
  </div>
</div>
