<div ng-controller="NewPostCtrl" class="card">
  <form ng-submit="new_post_submit()">
    <div class="small-3 large-2 columns text_label">
      <span class="prefix">Title(*)</span>
    </div>
    <div class="small-9 large-10 columns text_field">
      <input type="text" name="title" ng-model="formData.title">
    </div>

    <div class="small-3 large-2 columns text_label">
      <span class="prefix">URL</span>
    </div>
    <div class="small-9 large-10 columns text_field">
      <input type="text" name="url" ng-model="formData.url">
    </div>

    <div class="small-3 large-2 columns text_label">
      <span class="prefix">Category</span>
    </div>
    <div class="small-9 large-10 columns text_field">
      <select ng-model="formData.category" name="category" required="true"
              ng-options="category.id as category.name for category in cats"></select><br>
    </div>

    <button type="submit" class="button tiny">Submit</button>
  </form>
</div>
<div class="row">
<!--<div infinite-scroll="infiniteScroll()" infinite-scroll-distance="0">-->
<div class="post" ng-repeat="post in posts" ng-switch="post.type">
  <div class="image" ng-switch-when="image">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>

    <div class="outer">
      <div class="inner">
        <a href="/#/posts/{{ post.id }}"><img class="post_list image"
                                              src="{{ post.url }}"></a>
      </div>
    </div>
  </div>
  <div class="youtube" ng-switch-when="youtube">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
    <!--<div class="flex-video">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ post.youtube_video_id }}" frameborder="0" allowfullscreen widescreen></iframe>
                </div>-->
    <div youtube video_id="{{ post.youtube_video_id }}"></div>
  </div>
  <div class="video" ng-switch-when="video">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
  </div>
  <div class="link" ng-switch-when="link">
    <h4>
      <a class="title" href="{{ post.url }}"
         target="_blank">{{ post.title }}</a>
    </h4>
  </div>

  <div class="text" ng-switch-default>
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
  </div>
  <!--Metadata-->
  <div class="metadata row">
    <span
        class="category_label {{ post.category.color }} large-6 columns">
      <p><a href="/#/posts/?category={{ post.category.name }}">{{ post.category.name }}</a></p>
    </span>

    <span class="post_comments {{ post.category.color }} large-6 columns">
        <p><a href="/#/posts/{{ post.id }}/"><span
            class="icon-chat"></span></a></p>
    </span>
    <span class="post_user {{ post.category.color }} large-6 columns">
      <p>
        <a href="/#/user/{{ post.user.id }}/">{{ post.user.username }}</a>
      </p>
    </span>
    <span class="post_submitted {{ post.category.color }} large-6 columns">

        <p ng-bind="post.submitted | DTSince ">{{ post.submitted }}</p>
    </span>
  </div>

  <!--End Metadata-->
</div>
</div>