<div class="large-8 small-12 columns content">
  <post></post>
  <div class="comments">
    <div class="row" ng-repeat="comment in post.comment_set">
      <comment></comment>
    </div>
  </div>
  <div class="row comment_form">
    <form ng-submit="new_comment_submit()">
      <div class="small-3 large-2 columns text_label">
        <span class="prefix textbox">Comment</span>
      </div>
      <div class="small-9 large-10 columns text_field">
        <textarea name="title" ng-model="formData.text"></textarea>
      </div>
      <button type="submit" class="button tiny">Submit</button>
    </form>
  </div>
</div>
<div class="large-4 hide-for-small-down columns chat_column">
  <chat></chat>
</div>
