<div class="post" ng-switch="post.type">
  <div class="image" ng-switch-when="image">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
    <media></media>
  </div>

  <div class="youtube" ng-switch-when="youtube">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
    <media></media>
  </div>

  <div class="video" ng-switch-when="video">
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
    <media></media>
  </div>

  <div class="link" ng-switch-when="link">
    <h4>
      <a class="title" href="{{ post.url }}"
         target="_blank">{{ post.title }}</a>
    </h4>
  </div>

  <div class="text" ng-switch-default>
    <h4>
      <a class="title" href="/#/posts/{{ post.id }}">{{ post.title }}</a>
    </h4>
  </div>
  <!--Metadata-->
  <div class="metadata row">
    <span
        class="category_label {{ post.category.color }} large-6 small-6 columns">
      <p><a
          href="/#/posts/?category={{ post.category.name }}">{{ post.category.name }}</a>
      </p>
    </span>

    <span class="post_comments {{ post.category.color }} large-6 small-6 columns">
        <p class="right"><a href="/#/posts/{{ post.id }}/"><span
            class="icomoon icon-chat"></span></a></p>
    </span>
    <span class="post_user {{ post.category.color }} large-6 small-6 columns">
      <p>
        <a href="/#/user/{{ post.user.id }}/">{{ post.user.username }}</a>
      </p>
    </span>
    <span class="post_submitted {{ post.category.color }} large-6 small-6 columns">

        <p ng-bind="post.submitted | DTSince ">{{ post.submitted }}</p>
    </span>
  </div>

  <!--End Metadata-->
</div>