.post.image {
    max-height: 600px;
    max-width: 600px;
}
.post_list.image {
    max-height: 200px;
    max-width: 500px;
}
.post_list.flex-video {
    max-height: 200px;
    max-width: 500px;
}
.top-bar {
    margin-bottom:20px;
}
.title_link {
    color:white;
}
.tab-bar {
    margin-bottom:20px;
}
.post_list.submit_info {
    list-style-type: none;
    margin-left:-10px;
}
.post_list.feed_entry {
    border-bottom: 1px solid #dddddd;
    margin-bottom:30px;
}
fieldset legend {
    background-color:none;
}
p.error {
    color:red;
    font-weight:bold;
}
body, html {
  height: 100%;
}
.inner-wrap, .off-canvas-wrap {
    height:100%;
}
.text_field {
    padding-left:0;
    padding-right:0;
}
.text_label {
    padding-left:0;
    padding-right:0
}
.post_metadata h6 {
    font-size: 75%;
}
[class*="column"] + [class*="column"]:last-child +[class*="submitted"] {
    float:none;
}
