{% extends "site_base.html" %}
{% load staticfiles %}
{% block site_content %}
    <!-- Main Feed -->
    {% for post in post_list %}
        <!-- Feed Entry -->
        <div class="row post_list feed_entry">
            <div class="large-12 small-12 columns post_list content_column">
            {% if post.type == 'image' %}
                <h4><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
                <img class="post_list image" src="{{ post.url }}">
            {% elif post.type == 'youtube' %}
                <h4><a href="/post/{{ post.id }}/">{{ post.title }}</a></h4>
                <div class="post_list flex-video">
                    <iframe id="ytplayer" type="text/html" src="http://www.youtube.com/embed/{{ post.url }}" frameborder="0"/></iframe>
                </div>
            {% elif post.type == 'video' %}
                <h4><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
            {% elif post.type == 'link' %}
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            {% else %}
                <h4><a href="/post/{{ post.id }}/">{{ post.title }}</a></h4>
            {% endif %}
            <div class="row post_metadata">
                <div class="large-2 small-3 columns">
                    <h6>{{ post.user }}</h6>
                </div>
                <div class="large-2 small-3 columns">
                    <h6><a href="/post/{{ post.id }}/">{{ post.comment_set.all|length }} Comments</a></h6>
                </div>
                <div class="large-4 small-5 columns submitted">
                    <h6>{{ post.submitted|timesince }} ago{% if post.submitted != post.edited %} (Edited {{ post.edited|timesince }} ago){% endif %}</h6>
                </div>
                <div class="large-1 small-1 columns"></div>
            </div>
            </div>
        </div>
        <!-- End Feed Entry -->

    {%  empty %}
        <h1>No posts yet!</h1>
    {% endfor %}
    <div >
    <div class="large-8 large-offset-2 small-12 columns login form">
        <div class="row collapse">
        <form method="post" action="{% url "post_form_view_url" %}">{% csrf_token %}
            <fieldset>
                <legend>Add Post</legend>
                <div class="small-3 large-2 columns text_label">
                    <span class="prefix">Title:</span>
                </div>
                <div class="small-9 large-10 columns text_field">
                    <input id="id_title" maxlength="255" name="title" type="text">
                </div>
                 <div class="small-3 large-2 columns text_label">
                    <span class="prefix">Link</span>
                </div>
                <div class="small-9 large-10 columns text_field">
                    <input id="id_link" maxlength="255" name="url" type="text">
                </div>
                <button type="submit" class="button tiny">Submit</button>
            </fieldset>
        </form>
        </div>
    </div>
    </div>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/angular.min.js" %}"></script>
    <script src="{% static "js/angular-resource.min.js" %}"></script>
    <script src="{% static "js/traxx.js" %}"></script>
{% endblock %}