.post.image {
    max-height: 600px;
    max-width: 600px;
}
.post_list.image {
    max-height: 200px;
    max-width: 500px;
}
.post_list.flex-video {
    /*height: 200px;*/
    /*max-width: 400px;*/
}
.top-bar {
    margin-bottom:20px;
}
.title_link {
    color:white;
}
.post_list a {
    vertical-align: bottom;
    margin-left:6px;
}
.post_list h4 {
    line-height: 20px;;
}
.category {
    float:left;
    font-size:8px;
}
.category a,
.category a:visited,
.category a:hover,
.category a:active {
    color:white;
    font-size:120%;
}
.tab-bar {
    margin-bottom:20px;
}
.post_list.submit_info {
    list-style-type: none;
    margin-left:-10px;
}
.post_list.feed_entry {
    border-bottom: 1px solid #dddddd;
    margin-bottom:30px;
}
fieldset legend {
    background-color:none;
}
p.error {
    color:red;
    font-weight:bold;
}
body, html {
  height: 100%;
}
.inner-wrap, .off-canvas-wrap {
    height:100%;
}
.text_field {
    padding-left:0;
    padding-right:0;
}
.text_label {
    padding-left:0;
    padding-right:0;
}
.text_label label {
    vertical-align: middle;
    line-height: 100%;
}
.post_metadata {
    margin-top:10px;
}
.post_metadata h6 {
    font-size: 80%;
}
[class*="column"] + [class*="column"]:last-child +[class*="submitted"] {
    float:none;
}
.comment {
    text-overflow:ellipsis;
}
.comment h6 {
    margin-top:10px;
    margin-left:20px;
    font-size:80%;
}
.domain {
    font-size: 35%;
    color: grey;
    margin-left: 10px;
    vertical-align: middle;
}
.chat_server {
    position: relative;
}
#chat_messages {
    max-height: 500px;
    /*overflow-y: scroll;*/
    padding-left: 5px;
    padding-right: 5px;
    min-height: 500px;
    border: 1px solid grey;
    overflow-y:scroll;
}
#chat_form {
    margin-bottom: 0;
    padding-bottom: 0;
}
#chat_messages p {
    margin-bottom:0;
}
#chat_messages hr {
    margin: 0;
    line-height: 1;
}
.submission_entry {
    margin-top:10px;
    margin-bottom:10px;
}
.submission_title {
    margin-bottom:10px;
    text-align: center;
}
.submission_image img {
    display:block;
    margin:auto;
}
.submission_vote_button {
    margin-top:10px;
    display:block;
    /*margin:auto;*/
}
.connected_users {
    margin-bottom:10px;
    margin-top:10px;
}
.connect_users_title {
    border-bottom: 1px solid grey;
}
.pagination {
    margin-bottom:20px;
    padding-bottom:20px;
}
.label.votes {
    line-height: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    border-radius: 5px;
    background-color: #5da423;
}