<!-- Nav Sidebar -->
<!-- This is source ordered to be pulled to the left on larger screens -->
{#<div class="panel">#}
{#    <a href="#"><img src="http://placehold.it/300x240&text=[Babe]" /></a>#}
{#    <h5><a href="#">Username</a></h5>#}
{##}
{#</div>#}
{#<div class="chat">#}
{#    <div id="chat_messages">#}
{##}
{#    </div>#}
{#    <form method="POST" action="/chat/" name="chat" id="chat_form">#}
{#        <div class="row collapse">#}
{#            <div class="small-10 columns">#}
{#                <input type="text" placeholder="Chat" id="chat_box">#}
{#            </div>#}
{#            <div class="small-2 columns">#}
{#                <a href="#" class="button postfix" id="chat_send">Send</a>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#</div>#}

